
/* For generic page styles. Not for sliders. */


.div2 {
	position:relative;
	float:left;	
	width:100%;
	margin:0 auto;
	
	top:-20px;
	
	/*background-color:#CCC;*/
	
	
}
.div2 a {color:#07C;}
.div2 li {padding-top:6px;padding-bottom:6px;}
